<table class="items">
                <tr>
                    <th class="oznaceni" style="width: 470px;">{{ 'invoice.items.name'|trans }}</th>
                    <th class="mnozstvi text-center" style="width: 50px;">{{ 'invoice.items.count'|trans }}</th>
                    <th class="cena-za-mj text-right" style="width: 45px;">{{ 'invoice.items.unitPrice'|trans }}</th>
                    <th class="celkem text-right" style="width: 85px;">{{ 'invoice.items.totalItem'|trans }}</th>
                </tr>
                <tr class="separator-item">
                    <td colspan="4">&nbsp;</td>
                </tr>
                {% for item in invoice.items %}
                    <tr class="separator-item">
                        <td colspan="4">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                            {% if item.isRounding %}
                                {{ 'invoice.item.roundTitle' |trans }}
                            {% else %}
                                {{ item.title }}
                                {% if item.subtitle %}
                                    <br>
                                    <small>{{ item.subtitle |raw}}</small>
                                {% endif %}
                            {% endif %}
                        </td>
                        <td class="text-center">{{ item.count }}</td>
                        <td class="text-right">{{ item.unitPriceWithoutVat |invoiceprice }}</td>
                        <td class="text-right">{{ item.totalPriceWithVat |invoiceprice }}</td>
                    </tr>
                {% endfor %}
                <tr class="separator">
                    <td colspan="4">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        &nbsp;
                    </td>
                </tr>
                <tr class="sum">
                    <td colspan="2">{{ 'invoice.itemsSum'|trans }}</td>
                    <td class="text-right">{{ invoice.totalPriceWithoutVat |invoiceprice }}</td>
                    <td class="text-right">{{ invoice.totalPriceWithVat |invoiceprice }}</td>
                </tr>
                <tr>
                    <td colspan="4">
                        &nbsp;
                    </td>
                </tr>
                <tr class="total">
                    <td>{{ 'invoice.total'|trans|upper }}</td>
                    <td colspan="3" class="text-right">{{ invoice.totalPriceWithVat |invoiceprice }}</td>
                </tr>
            </table>